<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="log.context.name" value="sharding-jdbc-example-mybatis" />
	<property name="log.charset" value="UTF-8" />
	<property name="log.pattern"
		value="[%-5level] %date --%thread-- [%logger] %msg %n" />

	<contextName>${log.context.name}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>
	<appender name="file"
		class="ch.qos.logback.core.rolling.CustomerRollingFileAppender">
		<file>E:\\logs\\test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/test.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -
				%msg%n</pattern>
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</root>
</configuration>
